
<!-- <ol > -->
  <!-- <li> <span>{{dailyStats.count}}</span></li>
  <li> <span>{{dailyStats.sum}}</span></li>
  <li> <span>{{dailyStats.min}}</span></li>
  <li> <span>{{dailyStats.max}}</span></li>
  <li> <span>{{dailyStats.sum |avg: dailyStats.count}}</span></li> -->

<!--  
  <li *ngFor = "let sales of dailySales"> <span>{{sales.date | simpleDatePipe}} - {{sales.salesTotal}} - {{sales.onlineTotal}} - {{sales.inStoreTotal}}</span></li>
</ol> -->
<table>
  <th>date</th>
  <th>total</th>
  <th>online</th>
  <th>in-store</th>
  <tr *ngFor = "let sales of dailySales">
    <td style="padding-right: 15px"><span>{{sales.date | simpleDatePipe}}</span></td>
    <td style="padding-right: 10px; text-align: right;">{{sales.salesTotal}}</td>
    <td style="padding-right: 10px; text-align: right;">{{sales.onlineTotal}}</td>
    <td style="padding-right: 10px; text-align: right;">{{sales.inStoreTotal}}</td>
  </tr>
</table>

<div>
  <div id="chart" style="width: 45%; height: 400px;"></div>
  <!-- <div id="chart2" style="width: 45%; height: 400px;"></div> -->
</div>

